/*Element*/
li {

}
/*class*/
.hello {

}
/*ID*/
#name {

}

/*Star Selector selects everything on the page*/
* {
	border: 1px solid lightgray;
}

/*Descendant parent_target*/
li a {
	color: red;
}

/*adjacent */
h4 + ul {
	border: 4px solid red;
}

/*Attribute Selector*/
a[href="http://www.google.com"] {
	background: blue;
}

input[type="text"] {

}

input[type="checkbox"] {

}

/*Nth of type*/
ul:nth-of-type(3) {
	background: purple;
}

li:nth-of-type(3) {
	color: yellow;
}

ul:nth-of-type(even) {
	color: blue;
}
